= tag "meta", charset: "utf-8"
= tag "meta", content: "IE=edge", "http-equiv" => "X-UA-Compatible"
= tag "meta", content: "width=device-width, initial-scale=1.0", name: "viewport"
= tag "meta", name: "robots", content: smart_robots(current_page.path, config[:environment].to_s)
= tag "meta", name: "author", content: "<Your Name Here>"
-# = tag "meta", name: "description", content: data.site.description
- if production?
  -# = tag "meta", name: "google-site-verification",
  -#   content: "[site-verification-code-here]"
  -# = tag "meta", property: "og:url", content: data.site.url
  -# = tag "meta", property: "og:title", content: data.site.title
  -# = tag "meta", property: "og:description", content: data.site.description
  -# = tag "meta", property: "og:image", content: data.site.facebook_og_image_url

%title= full_title(current_page.data.title)
-# = favicon_tag "images/favicon.png"

-# = tag "link", rel: "apple-touch-icon", href: "images/apple-touch-icon.png"

= stylesheet_link_tag :site
= javascript_include_tag :bundle, async: !development?
